@media (max-width: 800px) {
  body {
    background: rgb(81, 67, 67);
    text-align: center;
  }

  .introText {
    margin-top: 20rem;
    margin-left: 1rem;
    text-align: center;
    min-width: 450px;
  }

  .EveryPicture {
    margin: 1rem;
  }

  #desktop {
    background-color: rgb(81, 67, 67);
    color: rgb(81, 67, 67);
  }
  #tablet {
    background-color: rgb(81, 67, 67);
    color: black;
  }
  #mobile {
    background-color: rgb(81, 67, 67);
    color: rgb(81, 67, 67);
  }
}
